* {
    padding: 0;
    margin: 0, 
    font-family: 'Calibri', cursive;
}

.background { 
    background-color:aquamarine
    height: 100vh;
    padding-top: 1px;
}

.title {
    color:white
    font-size: 25px
    text-align: center;
    margin-top: 1mm;
    margin-bottom: 1mm;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1mm;
    margin-bottom: 1mm;
}

.hide {
    display: none;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33%, 33%, 33%;
    grid-template-rows:33%, 33%, 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}


.player() {
    color: #498AFE;
}

.controls {
    display: flex;
    flex-diretions: row;
    justfify-content: center;
    align-items: center;
    margin-top: 1cm;
}

#reset {
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1cm;
    cursor: pointer;
}